
<meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, initial-scale=1' />




  <header class="top-header" role="banner">
  <div class="header">
    <div class="layout-container">
          {{ page.main_navigation }}
    </div>
  </div>
  <div class="layout-container">
  <div class="banner">
      {{ page.header }}
  </div>
    </div>
  </header>


<h1>About Me</h1>

<div class="container-about">
<table id="web">
  <caption><h2>WEB DEVELOPMENT</h2></caption>
  <thead>
  <tr>
    <th class="link"><h3>Web Development Projects</h3></th>
    <th class="proj"><h3>DESCRIPTION</h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/calculator">Calculator</a></td>
    <td class="proj">Created an online calculator with Javascript</td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/Simon">Simon</a></td>
    <td class="proj">Recreated the online memory game Simon with Javascript</td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/twitch">Twitch TV</a></td>
    <td class="proj">Created an Twitch t.v. view where you can see which channels currently streaming and what.</td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/wikipedia">Wikipedia</a></td>
    <td class="proj">Created a Wikipedia article search with Wikipedia API and JavaScript.</td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/pomodoro">Pomodoro Timer</a></td>
    <td class="proj">Created Pomodoro timer with JavaScript and CSS styling. </td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/localweather">Weather</a></td>
    <td class="proj">Created a weather app that shows the current weather in your location</td>
  </tr>
  <tr>
    <td class="link"><a href="https://nataliegroeneboom.github.io/TicTacToe/">TicTacToe</a></td>
    <td class="proj">Created a TicTacToe game app in javaScript</td>
  </tr>
  </tbody>
</table>



<table id="qualifications">
  <caption><h2>QUALIFICATIONS</h2></caption>
  <thead>
  <tr>
    <th class="inst"><h3>INSTITUTION</h3></th>
    <th class="year"><h3>YEAR</h3></th>
    <th class="qual"><h3>QUALIFICATION</h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class ="inst"><a href="https://www.freecodecamp.org">FreeCodeCamp</a></td>
    <td class ="year">2017</td>
    <td class ="qual">Front End Web Development</td>
  </tr>
  <tr>
    <td class ="inst"><a href="https://www.garp.org">GARP</a></td>
    <td class ="year">2012</td>
    <td class ="qual">Financial Risk Manager Certificate</td>
  </tr>
  <tr>
    <td class ="inst"><a href="https://www.ed.ac.uk">Edinburgh University</a></td>
    <td class ="year">2005</td>
    <td class ="qual">MChem with Hons - 2(i)</td>
  </tr>
  </tbody>
</table>


<table id="experience">
  <caption><h2>WORK EXPERIENCE</h2></caption>
  <thead>
  <tr>
    <th class="comp"><h3>COMPANY</h3></th>
    <th class="job"><h3>JOB TITLE</h3></th>
    <th class="work"><h3>DESCRIPTION</h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class ="comp"><a href="https://www.ing.com">ING</a></td>
    <td class ="job">Regional Analyst</td>
    <td class ="work">Worked within CEM assisting with the Green Light process</td>
  </tr>
  <tr>
    <td class ="comp"><a href="https://www.ubs.com">UBS</a></td>
    <td class ="job">Exposure Analyst</td>
    <td class ="work">Assisted with unreasonable exposures.</td>
  </tr>
  <tr>
    <td class ="comp"><a href="https://www.rbs.com">RBS</a></td>
    <td class ="job">Risk Analyst</td>
    <td class ="work">Operations to Trading Credit Risk Management working in a team with the overwrites</td>
  </tr>
  </tbody>
</table>

</div>
