
<meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, initial-scale=1' /> 




  <header class="top-header" role="banner">
  <div class="header">
    <div class="layout-container">
          {{ page.main_navigation }}
    </div>
  </div>
  <div class="layout-container"> 
  <div class="banner">
      {{ page.header }}
  </div>
    </div>
  </header>


<div class="about-into">
</div>

<div class="container-about">
<table>
  <caption>WEB DEVELOPMENT PROJECT</caption>
  <thead>
  <tr>
    <th>PROJECT LINK</th>
    <th>DESCRIPTION</th>
  </tr>
  </thead>
  <tbody>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/calculator">Calculator</a></td>
    <td class="proj">Created an online calculator with Javascript</td>
  </tr>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/Simon">Simon</a></td>
    <td class="proj">Recreated the online memory game Simon with Javascript</td>
  </tr>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/twitch">Twitch TV</a></td>
    <td class="proj">Created an Twitch t.v. view where you can see which channels currently streaming and what.</td>
  </tr>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/wikipedia">Wikipedia</a></td>
    <td class="proj">Created a Wikipedia article search with Wikipedia API and JavaScript.</td>
  </tr>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/pomodoro">Pomodoro Timer</a></td>
    <td class="proj">Created Pomodoro timer with JavaScript and CSS styling. </td>
  </tr>
  <tr class="proj">
    <td class="proj"><a href="https://nataliegroeneboom.github.io/localweather">Weather</a></td>
    <td class="proj">Created a weather app that shows the current weather in your location</td>
  </tr>
  </tbody>
</table>



<table>
  <caption>QUALIFICATIONS</caption>
  <thead>
  <tr>
    <th>INSTITUTION</th>
    <th>YEAR</th>
    <th>QUALIFICATION</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class ="qual"><a href="https://www.freecodecamp.org">FreeCodeCamp</a></td>
    <td class ="qual">2017</td>
    <td class ="qual">Front End Web Development</td>
  </tr>
  <tr>
    <td class ="qual"><a href="https://www.garp.org">GARP</a></td>
    <td class ="qual">2012</td>
    <td class ="qual">Financial Risk Manager Certificate</td>
  </tr>
  <tr>
    <td class ="qual"><a href="https://www.ed.ac.uk">Edinburgh University</a></td>
    <td class ="qual">2005</td>
    <td class ="qual">MChem with Hons - 2(i)</td>
  </tr>
  </tbody>
</table>


<table>
  <caption>WORK EXPERIENCE</caption>
  <thead>
  <tr>
    <th>COMPANY</th>
    <th>JOB TITLE</th>
    <th>DESCRIPTION</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class ="work"><a href="https://www.ing.com">ING</a></td>
    <td class ="work">Regional Analyst</td>
    <td class ="work">Worked within CEM assisting with the Green Light process</td>
  </tr> 
  <tr>
    <td class ="work"><a href="https://www.ubs.com">UBS</a></td>
    <td class ="work">Exposure Analyst</td>
    <td class ="work">Assisted with unreasonable exposures.</td>
  </tr> 
  <tr>
    <td class ="work"><a href="https://www.rbs.com">RBS</a></td>
    <td class ="work">Risk Analyst</td>
    <td class ="work">Operations to Trading Credit Risk Management working in a team with the overwrites</td>
  </tr>
  </tbody>
</table>

</div>