  {% if page.footer %}
    <footer role="contentinfo">
    <div class="container">
      <div class="footer-menu">  {{ page.footer }} </div>
      <div class="footer-contact">
      <span>Connect</span>
      <a class="icons" href="https://github.com/nataliegroeneboom" target="_blank"><i class="fab fa-github"></i></a>
      <a class="icons" href="https://www.linkedin.com/in/natalie-groeneboom-07110351/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="icons" href="https://www.flickr.com/" target="_blank"><i class="fab fa-flickr"></i></a>
      </div>  
    </div>
    </footer>
  {% endif %}