
  <header class="header" role="banner">
  <div class="header">
    <div class="layout-container">
          {{ page.main_navigation }}
    </div>
  </div>
  <div class="layout-container">
 <div class="container"> {{ page.header }}</div>
 <div class="container">
    {{ page.showcase }}
  </div>

  </header>