

 <div class="container"> {{ page.header }}</div>
 <div class="container">
    {{ page.showcase }}
  </div>


<div class="parallax" data-parallax="scroll" data-image-src="{{directory}}/src/img/hero.jpg"></div>






