
  <header class="top-header" role="banner">
  <h3>hello</h3>
  <div class="header">
    <div class="navigation">
          {{ page.main_navigation }}
    </div>
  </div>

 <div class="container"> {{ page.header }}</div>
 <div class="container">
    {{ page.showcase }}
  </div>
  <div class="banner">

<div class="parallax" data-parallax="scroll" data-image-src="{{directory}}/src/img/hero.jpg"></div>
  </div>


  </header>


