// NAV HELPER

%center{
  margin-left: auto;
  margin-right: auto;
}

%center-layout{
  max-width: 1650px;
}



%nav{
  list-style-type: none;


    li{
      width: 120px;

        a{
          display: block;
          text-decoration: none;
          @extend %center;
          font-size: $font-size-med;
        }
    }
}
