.layout-container {
  margin-left: auto;
  margin-right: auto; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(239, 249, 235, 0.5);
  font-family: "Lora", serif;
  overflow-x: hidden; }
  @media (max-width: 319px) {
    body {
      border: none;
      padding-top: none; } }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 1600px) {
    .container {
      max-width: 1470px; } }
  @media (min-width: 780px) and (max-width: 1023px) {
    .container {
      max-width: 890px; } }

main {
  overflow-x: hidden; }

li.print {
  display: none; }

.main-menu li a {
  font-size: 15px;
  color: white;
  text-transform: uppercase; }
  .main-menu li a:hover {
    text-decoration: none;
    font-weight: bold; }

#block-apprentice-search {
  margin-top: 85px; }
  #block-apprentice-search .input-group {
    width: 270px; }
    #block-apprentice-search .input-group input {
      border-radius: 0px; }
    #block-apprentice-search .input-group span > button {
      background: black; }

#block-apprentice-main-menu span {
  float: right;
  margin: 20px; }

.intro .region-content img {
  height: auto;
  padding: 5px; }
  @media (max-width: 319px) {
    .intro .region-content img {
      border: none;
      float: left;
      padding: 0px; } }

.view-topics-block .topics-grid {
  position: relative;
  margin-bottom: 12px; }
  .view-topics-block .topics-grid .views-field-name {
    position: absolute;
    top: 80%;
    left: 30px;
    padding: 7px;
    background: white;
    z-index: 10; }
    .view-topics-block .topics-grid .views-field-name span a {
      font-size: 14px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.12em; }

@media (min-width: 550px) and (max-width: 760px) {
  .view-topics-block .col {
    width: 50%; } }

.view-topics-block img {
  -webkit-filter: grayscale(80%);
  
  filter: greyscale(80%);
  -webkit-transition: filter 0.7s;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s; }
  .view-topics-block img:hover {
    -webkit-filter: grayscale(0%);
    
    filter: greyscale(0%); }

.view-blogs-recent .views-field-field-resuable-image img {
  -webkit-filter: brightness(150%);
          filter: brightness(150%); }
  @media (max-width: 760px) {
    .view-blogs-recent .views-field-field-resuable-image img {
      width: 100%; } }

aside.layout-sidebar .views-field-field-resuable-image {
  position: relative; }
  aside.layout-sidebar .views-field-field-resuable-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.25); }

.title {
  font-family: "Lora", serif;
  margin-top: 25px;
  font-size: 40px;
  text-transform: capitalize;
  text-align: left; }
  @media (max-width: 319px) {
    .title {
      margin-top: 75px; } }

.block-title {
  text-align: left;
  color: white;
  background: black;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 7px;
  letter-spacing: 0.12em; }
  .block-title::before {
    content: "//";
    padding: 7px; }

aside.layout-sidebar .views-field-title, aside.layout-sidebar .views-field-body {
  margin-top: 12px; }
  aside.layout-sidebar .views-field-title a, aside.layout-sidebar .views-field-body a {
    color: black; }
    aside.layout-sidebar .views-field-title a:hover, aside.layout-sidebar .views-field-body a:hover {
      text-decoration: none; }

aside.layout-sidebar .views-field-title a {
  font-size: 24px; }

aside.layout-sidebar .views-field-body a {
  font-size: 14px; }

.intro {
  font-size: 14px; }
  .intro .views-field-title a {
    color: black;
    font-family: "Lora", serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold; }
    .intro .views-field-title a:hover {
      text-decoration: none; }
  .intro .views-field-field-blog-topics-covered a {
    color: #F9CE3F;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase; }
  .intro .views-field-uid {
    font-size: 15px; }
    .intro .views-field-uid a {
      font-weight: bold;
      text-transform: uppercase;
      color: #0000ff; }
  .intro .views-field-name span p {
    text-align: center;
    font-size: 1.9em; }

.paragraph-code {
  background-color: #757575;
  font-family: "Share Tech Mono", monospace;
  color: #8FD400;
  font-size: 18px;
  width: 75%;
  margin: 15px auto;
  padding: 15px; }

.blog h1, .blogs-taxonomy h1 {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px; }

.blog .field--name-field-blog-topics-covered, .blogs-taxonomy .field--name-field-blog-topics-covered {
  font-weight: bold; }

.blog .field--name-field-blog-topics-covered .field--item, .blogs-taxonomy .field--name-field-blog-topics-covered .field--item {
  display: inline-block;
  margin-right: 8px; }

.blog .field--name-field-blog-topics-covered a, .blogs-taxonomy .field--name-field-blog-topics-covered a {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  padding: 3px;
  background: #F0F0F0; }

@media (min-width: 760px) {
  .blog .views-field-field-blog-date, .blogs-taxonomy .views-field-field-blog-date {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 130px; } }

.blog .views-field-field-blog-date span, .blogs-taxonomy .views-field-field-blog-date span {
  font-size: 15px; }

.blog .blog-title, .blog h2, .blogs-taxonomy .blog-title, .blogs-taxonomy h2 {
  margin-top: 5px; }
  .blog .blog-title span a, .blog h2 span a, .blogs-taxonomy .blog-title span a, .blogs-taxonomy h2 span a {
    font-size: 27px;
    color: #000; }
    @media (max-width: 319px) {
      .blog .blog-title span a, .blog h2 span a, .blogs-taxonomy .blog-title span a, .blogs-taxonomy h2 span a {
        font-size: 19px;
        line-height: 1.1; } }

.blog .blog-body, .blog .field--name-body, .blogs-taxonomy .blog-body, .blogs-taxonomy .field--name-body {
  font-size: 17px;
  color: #898989; }
  @media (max-width: 319px) {
    .blog .blog-body, .blog .field--name-body, .blogs-taxonomy .blog-body, .blogs-taxonomy .field--name-body {
      display: none; } }

.blog .topics-covered .field-content p, .blogs-taxonomy .topics-covered .field-content p {
  font-size: 18px;
  text-align: center; }

@media (max-width: 319px) {
  .blog .topics-covered .field-content, .blogs-taxonomy .topics-covered .field-content {
    display: none; } }

@media (min-width: 760px) {
  .blog .views-field-user-picture, .blogs-taxonomy .views-field-user-picture {
    position: absolute;
    left: 0px;
    bottom: 0px; } }

@media (min-width: 321px) and (max-width: 992px) {
  .blog .views-field-user-picture, .blogs-taxonomy .views-field-user-picture {
    display: none; } }

.blog .views-field-user-picture img, .blogs-taxonomy .views-field-user-picture img {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }

@media (max-width: 319px) {
  .blog .views-field-user-picture, .blogs-taxonomy .views-field-user-picture {
    display: none; } }

.recent-blog .views-field-field-blog-date, .recent-blog .views-field-title {
  font-weight: bold; }
  .recent-blog .views-field-field-blog-date a, .recent-blog .views-field-title a {
    color: #333333;
    text-decoration: none; }

.recent-blog .views-field-body {
  font-size: 1em; }
  .recent-blog .views-field-body a {
    color: black;
    text-decoration: none; }

@media (max-width: 319px) {
  .recent-blog .views-field-title, .recent-blog .views-field-body {
    color: #000; }
  .recent-blog .views-field-field-blog-date {
    color: #000; }
    .recent-blog .views-field-field-blog-date::after {
      color: #000; } }

.blog-grid .views-field-title a {
  color: #000;
  font-weight: bold; }

.blog-grid .views-field-field-blog-date {
  color: #ADA4A6;
  font-size: 1.9em; }

.paragraph-blog-sub-title {
  font-weight: bold;
  margin-top: 20px; }

.blog-full-content .field-paragraph-paragraph p, .blog-full-content .field-paragraph-paragraph li {
  font-size: 21px; }

.blog-full-content .field-paragraph-paragraph span {
  font-weight: bold;
  background-color: #D3D3D3;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  color: red; }

.blogs-taxonomy {
  margin-top: 80px; }
  .blogs-taxonomy h2 {
    font-size: 40px; }
  .blogs-taxonomy time {
    font-size: 20px;
    font-weight: bold; }
  .blogs-taxonomy .field--name-body p {
    font-size: 24px; }
  .blogs-taxonomy .field--name-node-link a {
    font-size: 1.2em; }

h1 {
  margin-top: 100px;
  font-size: 30px; }
  @media (max-width: 319px) {
    h1 {
      margin-top: 0px; } }

.about {
  padding: 15px;
  padding-bottom: 35px; }
  .about section p {
    font-size: 20px; }
  .about h4 {
    font-size: 20px;
    font-weight: bold; }
  .about h2 {
    font-size: 24px; }
    @media (max-width: 766px) {
      .about h2 {
        border-bottom: 2px solid #000; } }
  .about td {
    font-size: 18px;
    vertical-align: text-top; }
    .about td a {
      color: #000; }
  .about table {
    margin-top: 30px;
    margin-right: 30px; }
    @media (max-width: 319px) {
      .about table {
        width: 100%;
        margin-right: 0px; } }
  .about #web .link {
    width: 150px; }
    @media (max-width: 319px) {
      .about #web .link {
        width: 100%; } }
  .about #web .proj {
    width: 600px; }
    @media (max-width: 319px) {
      .about #web .proj {
        display: none; } }
  .about #qualifications .inst {
    width: 150px; }
    @media (max-width: 319px) {
      .about #qualifications .inst {
        display: none; } }
  .about #qualifications .year {
    width: 70px; }
    @media (max-width: 319px) {
      .about #qualifications .year {
        width: 50%; } }
  .about #qualifications .qual {
    width: 530px; }
    @media (max-width: 319px) {
      .about #qualifications .qual {
        width: 50%; } }
  .about #experience .comp {
    width: 150px; }
    @media (max-width: 319px) {
      .about #experience .comp {
        width: 50%; } }
  .about #experience .job {
    width: 150px; }
    @media (max-width: 319px) {
      .about #experience .job {
        width: 50%; } }
  .about #experience .work {
    width: 600px; }
    @media (max-width: 319px) {
      .about #experience .work {
        display: none; } }
  @media (max-width: 766px) {
    .about .proj, .about .qual, .about .work {
      display: none; } }
  @media (max-width: 321px) {
    .about table {
      width: 250px; } }

.individual-page {
  margin-top: 100px; }
  .individual-page .region-content {
    width: 75%;
    float: left; }
    @media (max-width: 766px) {
      .individual-page .region-content {
        width: 100%;
        float: none; } }
  .individual-page aside.layout-sidebar {
    width: 25%;
    float: left; }
    @media (max-width: 766px) {
      .individual-page aside.layout-sidebar {
        display: none; } }
  .individual-page .ds-2col-fluid > .group-right, .individual-page .ds-2col-fluid > .group-left {
    float: none;
    width: 100%; }
  .individual-page .group-left img, .individual-page .group-left p {
    margin: 15px 15px 15px 0; }
  .individual-page .group-right img, .individual-page .group-right p {
    margin: 15px 0px 15px 15px; }
  .individual-page .group-right p, .individual-page .group-left p {
    font-size: 21px; }

.layout-content-sec {
  clear: both; }

.paragraph--type--image-full, .layout--onecol {
  margin: 15px 0px; }

.blog-full-title {
  margin: 15px 0; }
  @media (max-width: 319px) {
    .blog-full-title {
      font-size: 24px; } }

.blog-full-content {
  margin-right: 15px; }
  @media (max-width: 768px) {
    .blog-full-content {
      margin: 0; } }
  .blog-full-content .field--name-field-blog-topics-covered > .field--item {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 75px; }
    @media (max-width: 768px) {
      .blog-full-content .field--name-field-blog-topics-covered > .field--item {
        margin: 0; } }
    .blog-full-content .field--name-field-blog-topics-covered > .field--item a {
      color: #F9CE3F;
      font-size: 27px; }
    .blog-full-content .field--name-field-blog-topics-covered > .field--item::after {
      content: "  |  ";
      color: #F9CE3F;
      font-size: 45px; }
    .blog-full-content .field--name-field-blog-topics-covered > .field--item:last-of-type::after {
      content: " ";
      font-size: 21px; }
  .blog-full-content .field--name-field-blog-date {
    font-size: 21px;
    font-style: italic;
    color: #898989; }
  .blog-full-content .field--name-body {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 30px 0; }
    @media (max-width: 768px) {
      .blog-full-content .field--name-body {
        font-size: 21px; } }

.author-info {
  margin-bottom: 55px; }
  @media (max-width: 768px) {
    .author-info {
      margin: 15px 0; } }
  .author-info .field--name-user-picture {
    float: left; }
    .author-info .field--name-user-picture img {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%); }
      @media (max-width: 768px) {
        .author-info .field--name-user-picture img {
          margin-right: 25px; } }
  .author-info .field--name-field-bio {
    padding-left: 120px;
    padding-top: 15px; }
    @media (max-width: 768px) {
      .author-info .field--name-field-bio {
        padding: 0; } }
    .author-info .field--name-field-bio p {
      font-size: 21px;
      font-style: italic;
      color: #898989; }

.blog, .blogs-taxonomy {
  padding-left: 0;
  margin-top: 100px; }
  .blog .topics-wrapper, .blogs-taxonomy .topics-wrapper {
    height: inherit; }
    @media (max-width: 760px) {
      .blog .topics-wrapper, .blogs-taxonomy .topics-wrapper {
        margin-bottom: 30px; } }
  @media (min-width: 760px) {
    .blog .view-content > div, .blogs-taxonomy .view-content > div {
      clear: both;
      margin: 0 30px 30px 0;
      position: relative; } }
  @media (min-width: 760px) {
    .blog .views-field-field-resuable-image, .blogs-taxonomy .views-field-field-resuable-image {
      float: left;
      margin-right: 30px; } }
  @media (min-width: 761px) and (max-width: 992px) {
    .blog .views-field-field-resuable-image, .blogs-taxonomy .views-field-field-resuable-image {
      width: 50%; } }
  @media (max-width: 759px) {
    .blog .views-field-field-resuable-image, .blogs-taxonomy .views-field-field-resuable-image {
      margin-bottom: 15px; }
      .blog .views-field-field-resuable-image img, .blogs-taxonomy .views-field-field-resuable-image img {
        width: 100%; } }

.side, .intro {
  display: block; }

@media (max-width: 319px) {
  .intro {
    display: inline-block;
    vertical-align: top; }
  .intro {
    color: #000; } }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-left {
  width: 35%; }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-right {
  width: 65%; }

.region-showcase {
  border-top: 3px solid black; }

@media (min-width: 780px) and (max-width: 1023px) {
  .view-blogs-recent .col {
    margin-bottom: 30px; } }

@media (max-width: 760px) {
  .intro .region-content .row > div {
    margin-bottom: 15px;
    padding: 0px 20px; } }

.region-content-secondary {
  padding-bottom: 100px; }
  @media (max-width: 319px) {
    .region-content-secondary {
      max-width: 900px;
      margin: 0 auto; } }
  .region-content-secondary .topics-covered {
    margin-top: 30px;
    margin-bottom: 50px; }
    .region-content-secondary .topics-covered .topics-wrapper {
      width: 240px;
      border: 10px solid #fff;
      -webkit-box-shadow: 5px 10px 4px 3px rgba(56, 56, 56, 0.6), 2px 4px 2px 5px rgba(142, 142, 142, 0.8);
              box-shadow: 5px 10px 4px 3px rgba(56, 56, 56, 0.6), 2px 4px 2px 5px rgba(142, 142, 142, 0.8);
      margin: 0 auto;
      -webkit-transition: 0.08s;
      transition: 0.08s; }
      .region-content-secondary .topics-covered .topics-wrapper:hover {
        -webkit-box-shadow: 0px 0px 1px 1px rgba(56, 56, 56, 0.4), 1px 1px 1px 3px rgba(142, 142, 142, 0.4);
                box-shadow: 0px 0px 1px 1px rgba(56, 56, 56, 0.4), 1px 1px 1px 3px rgba(142, 142, 142, 0.4); }

.layout-container {
  margin-left: auto;
  margin-right: auto; }

.navbar-default {
  content: "";
  clear: both;
  display: table; }


footer div.container {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 10px 0;
  position: relative;
  overflow: hidden; }
  footer div.container::before {
    content: '';
    position: absolute;
    top: 1.5px;
    display: block;
    height: 1px;
    background: black;
    width: 100%; }
  footer div.container::after {
    content: '';
    position: absolute;
    bottom: 1px;
    display: block;
    height: 1px;
    background: black;
    width: 100%; }
  footer div.container .footer-menu {
    width: 77%;
    line-height: 26px;
    float: left; }
    @media (min-width: 780px) and (max-width: 1023px) {
      footer div.container .footer-menu {
        width: 70%; } }
    @media (max-width: 766px) {
      footer div.container .footer-menu {
        display: none; } }
  footer div.container .footer-contact {
    width: 23%;
    float: left;
    line-height: 26px; }
    @media (min-width: 780px) and (max-width: 1023px) {
      footer div.container .footer-contact {
        width: 30%; } }
    @media (max-width: 766px) {
      footer div.container .footer-contact {
        width: 100%; } }
    footer div.container .footer-contact span {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.2em; }
    footer div.container .footer-contact .icons {
      padding: 0 7px; }
      footer div.container .footer-contact .icons svg {
        font-size: 26px;
        color: black; }

@media (min-width: 768px) {
  .region-bottom-right .navbar-right {
    margin-right: 80px; } }

.region-bottom-right .navbar-right a {
  color: black;
  text-decoration: none; }

.top-header {
  height: 400px;
  margin-bottom: 250px; }
  @media (max-width: 319px) {
    .top-header {
      height: 250px; } }

.header-background {
  background: black;
  position: fixed;
  width: 100vw;
  z-index: 24;
  overflow-x: hidden; }

.navbar-default {
  background-color: transparent;
  border: none;
  display: block; }
  .navbar-default .navbar {
    margin-bottom: 0;
    border: none; }
    .navbar-default .navbar .navbar-toggle:hover {
      background: transparent; }
    .navbar-default .navbar .navbar-toggle:active {
      background: transparent; }

#block-apprentice-main-menu {
  position: relative;
  font-size: 25px; }
  #block-apprentice-main-menu button {
    position: absolute;
    right: 10px;
    top: 2px; }
    #block-apprentice-main-menu button span {
      margin: 5px; }
      #block-apprentice-main-menu button span svg {
        color: white; }
  @media (max-width: 766px) {
    #block-apprentice-main-menu .menu--main {
      margin-top: 50px;
      margin-left: 50px; } }
  #block-apprentice-main-menu .menu--main li {
    display: inline-block; }
    @media (max-width: 766px) {
      #block-apprentice-main-menu .menu--main li {
        display: block;
        text-align: center; } }
    #block-apprentice-main-menu .menu--main li a {
      color: white; }
      #block-apprentice-main-menu .menu--main li a:hover {
        font-weight: bold;
        color: black; }
    #block-apprentice-main-menu .menu--main li:hover {
      background: transparent; }

.slogan {
  padding-left: 0px; }
  .slogan li {
    list-style: none;
    width: 220px; }
    .slogan li a {
      font-size: 22px; }

.block-views-blocktopics-covered-block-1 {
  float: left;
  clear: right; }

.parallax {
  height: 340px;
  overflow-x: hidden; }

section.block-system-branding-block {
  display: inline-block;
  margin-top: 75px; }
  section.block-system-branding-block .slogan-name > a {
    color: black;
    font-size: 30px;
    text-decoration: none; }
  @media (max-width: 760px) {
    section.block-system-branding-block {
      position: fixed;
      top: 17px;
      left: 2px;
      z-index: 25;
      margin-top: 0; }
      section.block-system-branding-block .slogan-name > a {
        color: white;
        font-size: 14px; } }

#block-apprentice-search {
  float: right; }

.topic {
  float: left;
  display: inline; }
  .topic a {
    text-transform: uppercase;
    margin-right: 8px;
    letter-spacing: 0.16em;
    font-size: 14px;
    font-weight: bold;
    font-color: black;
    color: black; }
    .topic a::before {
      content: " // "; }

.topic.first-topic a::before {
  content: ""; }

@media (min-width: 767px) {
  button.navbar {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
