.title, .layout-container {
  margin-left: auto;
  margin-right: auto; }

.layout-container {
  max-width: 1650px; }

body {
  margin: 0;
  padding: 0;
  padding-top: 79px;
  background-color: rgba(239, 249, 235, 0.5);
  font-family: "Marvel", sans-serif;
  overflow-x: hidden;
  border: 12px solid black; }

.main-menu li a, .slogan li a {
  font-size: 26px; }
  .main-menu li a:hover, .slogan li a:hover {
    text-decoration: none;
    font-weight: bold; }

.intro .region-content img {
  width: 100%;
  height: auto;
  border: solid 1px #EFEFEF;
  padding: 5px; }

.blog-article .views-field-field-resuable-image {
  grid-area: image;
  width: 220px;
  height: 220px; }

.title {
  width: 400px; }
  .title h1 {
    text-align: center; }

.intro {
  font-size: 3em; }
  .intro .block-title {
    text-align: center;
    font-size: 3em; }
  .intro .views-field-name span p {
    text-align: center;
    font-size: 1.9em; }

.paragraph-code {
  background-color: #757575;
  font-family: "Share Tech Mono", monospace;
  color: #8FD400;
  font-size: 1.9em;
  width: 75%;
  margin: 15px auto;
  padding: 15px; }

.views-field.views-field-field-blog-topics-covered, .views-field-field-blog-date {
  font-weight: bold; }

.views-field.views-field-field-blog-topics-covered {
  grid-area: tag; }
  .views-field.views-field-field-blog-topics-covered div ul {
    list-style: none; }
    .views-field.views-field-field-blog-topics-covered div ul li {
      display: inline-block;
      margin-right: 8px; }
  .views-field.views-field-field-blog-topics-covered a {
    font-size: 14px;
    text-transform: uppercase;
    color: #F9CE3F; }

.views-field-field-blog-date {
  grid-area: author;
  width: 100px;
  margin-left: 100px;
  -ms-flex-item-align: top;
      align-self: top;
  position: relative; }
  .views-field-field-blog-date span {
    position: absolute;
    top: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #898989; }

.views-field-uid {
  grid-area: author;
  float: left;
  width: 100px;
  padding-left: 40px;
  background-image: url("../src/img/natalie.jpg");
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat; }
  .views-field-uid span a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }

.blog-title {
  margin-top: 5px;
  grid-area: title; }
  .blog-title span a {
    font-size: 27px;
    font-weight: 700;
    font-family: 'Patua One', cursive;
    color: #000; }

.blog-body {
  font-size: 17px;
  grid-area: text;
  color: #898989; }

.topics-covered .field-content p {
  font-size: 18px;
  text-align: center; }

.recent-blog .views-field-field-blog-date, .recent-blog .views-field-title {
  font-size: 1.8em;
  font-weight: bold; }

.recent-blog .field-content a {
  color: #000;
  font-size: 1em; }
  .recent-blog .field-content a:hover {
    text-decoration: none; }

.recent-blog .views-field-body {
  font-size: 1.8em; }

.recent-blog h2 {
  font-size: 3em;
  text-align: center; }

.recent-blog .views-field-field-blog-date::after {
  content: " | ";
  font-size: 30px; }

@media (max-width: 599px) {
  .recent-blog .views-field-title, .recent-blog .views-field-body {
    color: #000; }
  .recent-blog .views-field-field-blog-date {
    color: #000; }
    .recent-blog .views-field-field-blog-date::after {
      color: #000; } }

.blog-grid .views-field-title a {
  color: #000;
  font-weight: bold; }

.blog-grid .views-field-field-blog-date {
  color: #ADA4A6;
  font-size: 1.9em; }

.paragraph-blog-sub-title {
  font-weight: bold;
  font-size: 1.9em; }
  .paragraph-blog-sub-title::after {
    content: " ==>"; }

.blog-full-content .field-paragraph-paragraph p {
  font-size: 1.8em; }

.blog-full-content .field-paragraph-paragraph span {
  font-weight: bold;
  background-color: #D3D3D3;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  color: red; }

.blog-full-content .field--name-body p {
  font-size: 1.8em; }

.blogs-taxonomy {
  margin-top: 80px; }
  .blogs-taxonomy h2 {
    font-size: 40px; }
  .blogs-taxonomy time {
    font-size: 20px;
    font-weight: bold; }
  .blogs-taxonomy .field--name-body p {
    font-size: 24px; }
  .blogs-taxonomy .field--name-node-link a {
    font-size: 1.8em; }

h1 {
  text-align: center;
  margin-top: 20px; }
  @media (max-width: 599px) {
    h1 {
      margin-top: 0px; } }

.container-about {
  padding: 15px;
  padding-bottom: 35px; }
  .container-about h2 {
    font-size: 3em; }
    @media (max-width: 599px) {
      .container-about h2 {
        border-bottom: 2px solid #000;
        font-size: 2.5em; } }
  .container-about td {
    font-size: 1.9em;
    vertical-align: text-top; }
    .container-about td a {
      color: #000; }
  .container-about table {
    margin-top: 30px;
    margin-right: 30px; }
    @media (max-width: 599px) {
      .container-about table {
        width: 100%;
        margin-right: 0px; } }
  .container-about #web .link {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #web .link {
        width: 100%; } }
  .container-about #web .proj {
    width: 600px; }
    @media (max-width: 599px) {
      .container-about #web .proj {
        display: none; } }
  .container-about #qualifications .inst {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #qualifications .inst {
        display: none; } }
  .container-about #qualifications .year {
    width: 70px; }
    @media (max-width: 599px) {
      .container-about #qualifications .year {
        width: 50%; } }
  .container-about #qualifications .qual {
    width: 530px; }
    @media (max-width: 599px) {
      .container-about #qualifications .qual {
        width: 50%; } }
  .container-about #experience .comp {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #experience .comp {
        width: 50%; } }
  .container-about #experience .job {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #experience .job {
        width: 50%; } }
  .container-about #experience .work {
    width: 600px; }
    @media (max-width: 599px) {
      .container-about #experience .work {
        display: none; } }

.blog-title-individual .field--name-body {
  margin-top: 120px;
  border-bottom: 1px solid black; }
  .blog-title-individual .field--name-body p {
    padding-bottom: 15px; }

.blog-full-title {
  margin: 15px 0;
  font-size: 3em; }

.blog-full-content .blog-full-topics .field--label {
  font-size: 1.9em; }

.blog-full-content .blog-full-topics .field--item {
  display: inline-block;
  font-size: 1.9em; }
  .blog-full-content .blog-full-topics .field--item::after {
    content: " and "; }
  .blog-full-content .blog-full-topics .field--item:last-of-type::after {
    content: ","; }

.blog-full-content .field--name-field-blog-date {
  font-size: 1.9em; }

.blog-full-content .field--name-body {
  font-size: 1.8em; }

.side, .intro {
  display: block; }

@media (max-width: 599px) {
  .intro, .side {
    display: inline-block;
    vertical-align: top;
    padding: 0 18px; }
  .side {
    width: 35%; }
    .side .block-title {
      color: #000; }
    .side .views-field-field-resuable-image {
      width: 220px;
      padding: 15px 20px 15px 0px;
      display: block;
      float: left; }
      .side .views-field-field-resuable-image img {
        border: 2px solid #000; }
  .intro {
    width: 60%;
    color: #000; } }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-left {
  width: 35%; }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-right {
  width: 65%; }

.layout-content-top {
  border-bottom: 2px solid #D1D1D1;
  box-shadow: 0px 1px 1px #D1D1D1; }
  .layout-content-top .introduction {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px; }
    @media (max-width: 599px) {
      .layout-content-top .introduction {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto; } }
  .layout-content-top .intro {
    grid-column: 1 / 2; }
    @media (max-width: 599px) {
      .layout-content-top .intro {
        width: 100%;
        grid-column: 1;
        grid-row: 1 / 2; } }
  .layout-content-top .side {
    grid-column: 2 / 3;
    justify-self: start; }
    @media (max-width: 599px) {
      .layout-content-top .side {
        width: 100%;
        grid-column: 1;
        grid-row: 2 / 3; } }

.topics-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 25px 45px 90px 20px 20px;
  grid-template-areas: "image tag" "image title" "image text" "image text" "image author";
  grid-column-gap: 15px;
  margin: 40px 60px;
  min-height: 200px; }

.region-content-secondary {
  padding-bottom: 100px; }
  .region-content-secondary .block-title {
    text-align: center; }
  @media (max-width: 599px) {
    .region-content-secondary {
      max-width: 900px;
      margin: 0 auto; } }

.topics-covered {
  margin-top: 30px;
  margin-bottom: 50px; }
  .topics-covered .topics-wrapper {
    width: 240px;
    border: 10px solid #fff;
    box-shadow: 5px 10px 4px 3px rgba(56, 56, 56, 0.6), 2px 4px 2px 5px rgba(142, 142, 142, 0.8);
    margin: 0 auto;
    transition: 0.08s; }
    .topics-covered .topics-wrapper:hover {
      box-shadow: 0px 0px 1px 1px rgba(56, 56, 56, 0.4), 1px 1px 1px 3px rgba(142, 142, 142, 0.4); }

.grid {
  background: #adad85;
  margin: 0 auto; }

.blog-grid {
  height: 570px;
  background: #fff;
  margin: 4px 4px; }
  @media (max-width: 599px) {
    .blog-grid {
      padding: 0;
      width: 32.6%; }
      .blog-grid img {
        width: 100%; } }
  .blog-grid .views-field-title {
    font-size: 2.5em; }

.layout-container {
  max-width: 1650px; }

.title, .layout-container {
  margin-left: auto;
  margin-right: auto; }

.top-header .header {
  content: "";
  clear: both;
  display: table; }


footer {
  background: #000;
  padding-top: 15px; }
  footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  footer .icons {
    justify-self: center;
    font-size: 30px;
    color: #fff; }

.top-header {
  height: 400px; }
  @media (max-width: 599px) {
    .top-header {
      height: 250px; } }
  .top-header .header {
    width: 100%; }
    .top-header .header .main-menu, .top-header .header .slogan {
      list-style-type: none;
      text-align: center; }
      .top-header .header .main-menu li, .top-header .header .slogan li {
        padding: 5px 0; }
        .top-header .header .main-menu li a, .top-header .header .slogan li a {
          color: #000; }
    .top-header .header section.block-system-branding-block {
      display: inline-block;
      float: left; }
    .top-header .header #block-apprentice-main-menu {
      display: inline-block;
      float: right; }
    .top-header .header .main-menu li, .top-header .header .slogan li {
      display: inline-block;
      width: 150px;
      text-align: center; }
    .top-header .header .main-menu .icon, .top-header .header .slogan .icon {
      display: none; }
    .top-header .header .print {
      display: none; }
    @media (max-width: 599px) {
      .top-header .header .navbar {
        width: 150px; }
        .top-header .header .navbar li {
          width: auto; }
          .top-header .header .navbar li a {
            font-size: 22px; }
        .top-header .header .navbar .main-menu .menu-item:not(:first-child) {
          display: none; }
        .top-header .header .navbar .main-menu .icon {
          float: right;
          display: block;
          padding-right: 15px; }
        .top-header .header .navbar .main-menu.responsive .menu-item {
          float: none;
          display: block; }
        .top-header .header .navbar .main-menu.responsive .icon a {
          position: absolute;
          top: 5px;
          right: 15px; }
      .top-header .header .slogan {
        padding-left: 0px; }
        .top-header .header .slogan li {
          width: 120px; }
          .top-header .header .slogan li a {
            font-size: 22px; } }
  .top-header .banner {
    width: 100%;
    height: 200px; }

.showcase {
  height: 500px;
  width: 100%;
  padding-top: 65px; }
  @media (max-width: 599px) {
    .showcase {
      height: 250px;
      padding-top: 70px; } }
  .showcase h2 {
    text-align: center;
    font-size: 40px; }
  .showcase blockquote {
    text-align: center;
    font-size: 48px;
    margin-top: 35px;
    font-style: italic; }
    .showcase blockquote:before {
      content: open-quote;
      font-size: 70px; }
    .showcase blockquote:after {
      content: close-quote;
      font-size: 70px; }
    @media (max-width: 599px) {
      .showcase blockquote {
        display: none; } }

/*# sourceMappingURL=style.css.map */
