.title, .layout-container {
  margin-left: auto;
  margin-right: auto; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(239, 249, 235, 0.5);
  font-family: "Lora", serif;
  overflow-x: hidden; }
  @media (max-width: 599px) {
    body {
      border: none;
      padding-top: none; } }

@media (min-width: 1200px) {
  .container {
    width: 1000px; } }

li.print {
  display: none; }

.main-menu li a, .slogan li a {
  font-size: 15px;
  color: white;
  text-transform: uppercase; }
  .main-menu li a:hover, .slogan li a:hover {
    text-decoration: none;
    font-weight: bold; }

#block-apprentice-search {
  margin-top: 85px; }
  #block-apprentice-search .input-group {
    width: 270px; }
    #block-apprentice-search .input-group input {
      border-radius: 0px; }
    #block-apprentice-search .input-group span > button {
      background: black; }

.intro .region-content img {
  height: auto;
  border: solid 1px #EFEFEF;
  padding: 5px; }
  @media (max-width: 599px) {
    .intro .region-content img {
      padding: 0 14px 0 0;
      border: none;
      float: left; } }

.blog-article .views-field-field-resuable-image {
  grid-area: image;
  width: 220px;
  height: 220px; }
  @media (max-width: 599px) {
    .blog-article .views-field-field-resuable-image {
      width: 120px;
      height: 120px;
      float: left; } }

.title {
  font-family: "Patua One", cursive;
  margin-top: 25px; }
  @media (max-width: 599px) {
    .title {
      margin-top: 75px; } }

.intro {
  font-size: 14px; }
  .intro .views-field-title a {
    color: black;
    font-family: "Patua One", cursive;
    font-size: 20px;
    line-height: 1.2; }
  .intro .views-field-field-blog-topics-covered a {
    color: #F9CE3F;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase; }
  .intro .views-field-uid {
    font-size: 15px; }
    .intro .views-field-uid a {
      font-weight: bold;
      text-transform: uppercase;
      color: #0000ff; }
  .intro .block-title {
    text-align: center;
    font-size: 40px; }
  .intro .views-field-name span p {
    text-align: center;
    font-size: 1.9em; }

.paragraph-code {
  background-color: #757575;
  font-family: "Share Tech Mono", monospace;
  color: #8FD400;
  font-size: 18px;
  width: 75%;
  margin: 15px auto;
  padding: 15px; }

.blog .views-field.views-field-field-blog-topics-covered, .blog .views-field-field-blog-date, .blogs-taxonomy .views-field.views-field-field-blog-topics-covered, .blogs-taxonomy .views-field-field-blog-date {
  font-weight: bold; }

.blog .views-field.views-field-field-blog-topics-covered, .blogs-taxonomy .views-field.views-field-field-blog-topics-covered {
  grid-area: tag; }
  .blog .views-field.views-field-field-blog-topics-covered div ul, .blogs-taxonomy .views-field.views-field-field-blog-topics-covered div ul {
    list-style: none; }
    .blog .views-field.views-field-field-blog-topics-covered div ul li, .blogs-taxonomy .views-field.views-field-field-blog-topics-covered div ul li {
      display: inline-block;
      margin-right: 8px; }
  .blog .views-field.views-field-field-blog-topics-covered a, .blogs-taxonomy .views-field.views-field-field-blog-topics-covered a {
    font-size: 14px;
    text-transform: uppercase;
    color: #F9CE3F; }

.blog .views-field-field-blog-date, .blogs-taxonomy .views-field-field-blog-date {
  grid-area: author;
  width: 100px;
  margin-left: 100px;
  -ms-flex-item-align: top;
      align-self: top;
  position: relative; }
  @media (max-width: 599px) {
    .blog .views-field-field-blog-date, .blogs-taxonomy .views-field-field-blog-date {
      margin-left: 12px;
      width: inherit; } }
  .blog .views-field-field-blog-date span, .blogs-taxonomy .views-field-field-blog-date span {
    position: absolute;
    top: 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #898989; }
    @media (max-width: 599px) {
      .blog .views-field-field-blog-date span, .blogs-taxonomy .views-field-field-blog-date span {
        display: inherit;
        width: 100%; } }

.blog .views-field-uid, .blogs-taxonomy .views-field-uid {
  grid-area: author;
  float: left;
  width: 100px;
  padding-left: 40px;
  position: relative; }
  .blog .views-field-uid span, .blogs-taxonomy .views-field-uid span {
    position: absolute;
    bottom: 0px; }
  .blog .views-field-uid span.field-content, .blogs-taxonomy .views-field-uid span.field-content {
    right: 10px; }
  .blog .views-field-uid span a, .blogs-taxonomy .views-field-uid span a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
  @media (max-width: 599px) {
    .blog .views-field-uid, .blogs-taxonomy .views-field-uid {
      display: none; } }

.blog .blog-title, .blog .views-field-title, .blogs-taxonomy .blog-title, .blogs-taxonomy .views-field-title {
  margin-top: 5px;
  grid-area: title; }
  .blog .blog-title span a, .blog .views-field-title span a, .blogs-taxonomy .blog-title span a, .blogs-taxonomy .views-field-title span a {
    font-size: 27px;
    font-weight: 700;
    font-family: 'Patua One', cursive;
    color: #000; }
    @media (max-width: 599px) {
      .blog .blog-title span a, .blog .views-field-title span a, .blogs-taxonomy .blog-title span a, .blogs-taxonomy .views-field-title span a {
        font-size: 19px;
        line-height: 1.1; } }

.blog .blog-body, .blog .views-field-body, .blogs-taxonomy .blog-body, .blogs-taxonomy .views-field-body {
  font-size: 17px;
  grid-area: text;
  color: #898989; }
  @media (max-width: 599px) {
    .blog .blog-body, .blog .views-field-body, .blogs-taxonomy .blog-body, .blogs-taxonomy .views-field-body {
      display: none; } }

.blog .topics-covered .field-content p, .blogs-taxonomy .topics-covered .field-content p {
  font-size: 18px;
  text-align: center; }

@media (max-width: 599px) {
  .blog .topics-covered .field-content, .blogs-taxonomy .topics-covered .field-content {
    display: none; } }

.blog .views-field-user-picture, .blogs-taxonomy .views-field-user-picture {
  grid-area: author; }
  .blog .views-field-user-picture img, .blogs-taxonomy .views-field-user-picture img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  @media (max-width: 599px) {
    .blog .views-field-user-picture, .blogs-taxonomy .views-field-user-picture {
      display: none; } }

.recent-blog .views-field-field-blog-date, .recent-blog .views-field-title {
  font-weight: bold; }

.recent-blog .field-content a {
  color: #000;
  font-size: 1em; }
  .recent-blog .field-content a:hover {
    text-decoration: none; }

.recent-blog .views-field-body {
  font-size: 1.8em; }

.recent-blog h2 {
  font-size: 40px;
  text-align: center; }

@media (max-width: 599px) {
  .recent-blog .views-field-title, .recent-blog .views-field-body {
    color: #000; }
  .recent-blog .views-field-field-blog-date {
    color: #000; }
    .recent-blog .views-field-field-blog-date::after {
      color: #000; } }

.blog-grid .views-field-title a {
  color: #000;
  font-weight: bold; }

.blog-grid .views-field-field-blog-date {
  color: #ADA4A6;
  font-size: 1.9em; }

.paragraph-blog-sub-title {
  font-weight: bold;
  font-size: 1.9em;
  margin-top: 43px; }
  .paragraph-blog-sub-title::after {
    content: " ==>"; }

.blog-full-content .field-paragraph-paragraph p, .blog-full-content .field-paragraph-paragraph li {
  font-size: 21px; }

.blog-full-content .field-paragraph-paragraph span {
  font-weight: bold;
  background-color: #D3D3D3;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  color: red; }

.blogs-taxonomy {
  margin-top: 80px; }
  .blogs-taxonomy h2 {
    font-size: 40px; }
  .blogs-taxonomy time {
    font-size: 20px;
    font-weight: bold; }
  .blogs-taxonomy .field--name-body p {
    font-size: 24px; }
  .blogs-taxonomy .field--name-node-link a {
    font-size: 1.8em; }

h1 {
  text-align: center;
  margin-top: 20px; }
  @media (max-width: 599px) {
    h1 {
      margin-top: 0px; } }

.container-about {
  padding: 15px;
  padding-bottom: 35px; }
  .container-about h2 {
    font-size: 40px; }
    @media (max-width: 599px) {
      .container-about h2 {
        border-bottom: 2px solid #000;
        font-size: 2.5em; } }
  .container-about td {
    font-size: 1.9em;
    vertical-align: text-top; }
    .container-about td a {
      color: #000; }
  .container-about table {
    margin-top: 30px;
    margin-right: 30px; }
    @media (max-width: 599px) {
      .container-about table {
        width: 100%;
        margin-right: 0px; } }
  .container-about #web .link {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #web .link {
        width: 100%; } }
  .container-about #web .proj {
    width: 600px; }
    @media (max-width: 599px) {
      .container-about #web .proj {
        display: none; } }
  .container-about #qualifications .inst {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #qualifications .inst {
        display: none; } }
  .container-about #qualifications .year {
    width: 70px; }
    @media (max-width: 599px) {
      .container-about #qualifications .year {
        width: 50%; } }
  .container-about #qualifications .qual {
    width: 530px; }
    @media (max-width: 599px) {
      .container-about #qualifications .qual {
        width: 50%; } }
  .container-about #experience .comp {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #experience .comp {
        width: 50%; } }
  .container-about #experience .job {
    width: 150px; }
    @media (max-width: 599px) {
      .container-about #experience .job {
        width: 50%; } }
  .container-about #experience .work {
    width: 600px; }
    @media (max-width: 599px) {
      .container-about #experience .work {
        display: none; } }

.blog-title-individual .field--name-body {
  margin-top: 120px;
  border-bottom: 1px solid black; }
  .blog-title-individual .field--name-body p {
    padding-bottom: 15px; }

@media (max-width: 599px) {
  .blog-title-individual .region-content {
    position: relative; } }

.blog-full-title {
  margin: 15px 0;
  font-size: 40px; }
  @media (max-width: 599px) {
    .blog-full-title {
      font-size: 24px; } }

.blog-full-content .field--name-field-blog-topics-covered > .field--item {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 75px; }
  .blog-full-content .field--name-field-blog-topics-covered > .field--item a {
    color: #F9CE3F;
    font-size: 27px; }
  .blog-full-content .field--name-field-blog-topics-covered > .field--item::after {
    content: "  |  ";
    color: #F9CE3F;
    font-size: 45px; }
  .blog-full-content .field--name-field-blog-topics-covered > .field--item:last-of-type::after {
    content: " ";
    font-size: 21px; }

.blog-full-content .field--name-field-blog-date {
  font-size: 21px;
  font-style: italic;
  color: #898989; }

.blog-full-content .field--name-body {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0 30px 0; }

.author-info {
  margin-bottom: 55px; }
  .author-info .field--name-user-picture {
    float: left; }
    .author-info .field--name-user-picture img {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%); }
  .author-info .field--name-field-bio {
    padding-left: 120px;
    padding-top: 15px; }
    .author-info .field--name-field-bio p {
      font-size: 21px;
      font-style: italic;
      color: #898989; }

.recent-blog {
  margin: 0 auto;
  max-width: 1000px; }

.side, .intro {
  display: block; }

@media (max-width: 599px) {
  .intro {
    display: inline-block;
    vertical-align: top; }
  .intro {
    color: #000; } }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-left {
  width: 35%; }

#block-mynameisnatalieandiamawebdeveloperapprentice .group-right {
  width: 65%; }

.region-showcase {
  border-top: 3px solid black; }

.layout-content-top {
  border-bottom: 2px solid #D1D1D1;
  box-shadow: 0px 1px 1px #D1D1D1; }

@media (max-width: 599px) {
  #block-views-block-blogs-recent-block-1 {
    display: none; } }

#block-views-block-blogs-recent-block-2 .views-row {
  clear: both;
  padding: 24px 0;
  border-bottom: 1px solid #E0E0E0;
  overflow: auto; }
  #block-views-block-blogs-recent-block-2 .views-row .image-mobile-showcase {
    display: none; }

#block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) {
  height: 385px;
  position: relative;
  overflow: hidden; }
  #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .views-field-field-resuable-image {
    display: none; }
  #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .topics-wrapper {
    background-color: rgba(0, 0, 0, 0.77);
    margin-right: 20px;
    margin-top: 50px; }
    #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .topics-wrapper .views-field-field-blog-topics-covered {
      padding-left: 10px; }
    #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .topics-wrapper .views-field-field-blog-date {
      padding-top: 5px;
      padding-left: 10px;
      padding-bottom: 18px;
      color: #C0C0C0;
      font-weight: bold; }
    #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .topics-wrapper .views-field-title {
      padding-left: 10px;
      padding-top: 18px;
      display: block; }
      #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .topics-wrapper .views-field-title a {
        color: #fff;
        font-family: "Patua One", cursive;
        font-size: 24px;
        line-height: 1.2; }
  #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .image-mobile-showcase {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: -1; }
    #block-views-block-blogs-recent-block-2 .views-row:nth-child(3n + 1) .image-mobile-showcase img {
      width: 100%;
      height: 100%;
      padding-right: 0; }

@media (min-width: 1200px) {
  #block-views-block-blogs-recent-block-2 {
    display: none;
    height: 120px; } }

.mobile-blog img {
  width: inherit; }

.blog .topics-wrapper, .blogs-taxonomy .topics-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 25px 45px 80px 20px 30px;
  grid-template-areas: "image tag" "image title" "image text" "image text" "image author";
  grid-column-gap: 15px;
  margin: 40px 60px;
  min-height: 200px; }
  @media (max-width: 599px) {
    .blog .topics-wrapper, .blogs-taxonomy .topics-wrapper {
      display: block;
      margin: 20px 0px;
      clear: both; } }

.region-content-secondary {
  padding-bottom: 100px; }
  .region-content-secondary .block-title {
    text-align: center; }
  @media (max-width: 599px) {
    .region-content-secondary {
      max-width: 900px;
      margin: 0 auto; } }
  .region-content-secondary .topics-covered {
    margin-top: 30px;
    margin-bottom: 50px; }
    .region-content-secondary .topics-covered .topics-wrapper {
      width: 240px;
      border: 10px solid #fff;
      box-shadow: 5px 10px 4px 3px rgba(56, 56, 56, 0.6), 2px 4px 2px 5px rgba(142, 142, 142, 0.8);
      margin: 0 auto;
      transition: 0.08s; }
      .region-content-secondary .topics-covered .topics-wrapper:hover {
        box-shadow: 0px 0px 1px 1px rgba(56, 56, 56, 0.4), 1px 1px 1px 3px rgba(142, 142, 142, 0.4); }

.grid {
  background: #adad85;
  margin: 0 auto; }

.blog-grid {
  height: 570px;
  background: #fff;
  margin: 4px 4px; }
  @media (max-width: 599px) {
    .blog-grid {
      padding: 0;
      width: 32.6%; }
      .blog-grid img {
        width: 100%; } }
  .blog-grid .views-field-title {
    font-size: 2.5em; }

.title, .layout-container {
  margin-left: auto;
  margin-right: auto; }

.top-header .header {
  content: "";
  clear: both;
  display: table; }


.layout-container > footer, .taxonomy-footer {
  background: #000;
  padding-top: 15px; }
  .layout-container > footer .footer-grid, .taxonomy-footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .layout-container > footer .icons, .taxonomy-footer .icons {
    justify-self: center;
    font-size: 30px;
    color: #fff; }

.top-header {
  height: 400px; }
  @media (max-width: 599px) {
    .top-header {
      height: 250px; } }
  .top-header .header {
    width: 100%; }
    .top-header .header .slogan {
      list-style-type: none;
      font-family: 'Over the Rainbow', cursive;
      text-align: center;
      color: black; }
    .top-header .header .main-menu {
      margin-top: 10px;
      list-style-type: none;
      text-align: center; }
      .top-header .header .main-menu li {
        padding: 2px 0; }
    .top-header .header #block-apprentice-main-menu {
      display: inline-block;
      width: 100vw;
      background: black;
      position: fixed;
      z-index: 20;
      top: 0; }
    .top-header .header .main-menu li {
      display: inline-block;
      width: 150px;
      text-align: center; }
    .top-header .header .main-menu .icon {
      display: none; }
    .top-header .header .print {
      display: none; }
    @media (max-width: 599px) {
      .top-header .header .navbar {
        width: 150px; }
        .top-header .header .navbar li {
          width: auto; }
          .top-header .header .navbar li a {
            font-size: 22px; }
        .top-header .header .navbar .main-menu .menu-item:not(:first-child) {
          display: none; }
        .top-header .header .navbar .main-menu .icon {
          float: right;
          display: block;
          padding-right: 15px; }
        .top-header .header .navbar .main-menu.responsive .menu-item {
          float: none;
          display: block; }
        .top-header .header .navbar .main-menu.responsive .icon a {
          position: absolute;
          top: 5px;
          right: 15px; }
      .top-header .header .slogan {
        padding-left: 0px; }
        .top-header .header .slogan li {
          width: 120px; }
          .top-header .header .slogan li a {
            font-size: 22px; } }
    .top-header .header .block-views-blocktopics-covered-block-1 {
      float: left;
      clear: right;
      width: 100vw; }
  .top-header .banner {
    width: 100%;
    height: 200px; }
    .top-header .banner .parallax {
      height: 340px; }

section.block-system-branding-block {
  display: inline-block;
  margin-top: 75px; }
  section.block-system-branding-block .slogan-name > a {
    color: black;
    font-size: 30px; }

#block-apprentice-search {
  display: inline-block;
  float: right; }

.topic {
  float: left;
  display: inline; }
  .topic p {
    text-transform: uppercase;
    margin-right: 8px;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold; }
    .topic p::before {
      content: " \\ "; }

.topic.first-topic p::before {
  content: ""; }

.blogs-taxonomy .views-field-field-blog-date div {
  position: absolute;
  top: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: #898989; }

/*# sourceMappingURL=style.css.map */
