
h1{
  margin-top: 100px;
  font-size: 30px;
  @include phone{
    margin-top: 0px;
  }
}


.about{
  
  padding: 15px;
  padding-bottom: 35px;

section p{
  font-size: 20px;
}
h4{
  font-size: 20px;
  font-weight: bold;
}
  


  h2{
    font-size: $font-size-subtitle;
    @media(max-width:766px){
      border-bottom: 2px solid #000;
     // font-size: $font-size-large;
    }
  }

td{
  font-size: 18px;
  vertical-align: text-top;
        a{
          color: $font-colour-prim;

        }

}

table{
  margin-top: 30px;
  margin-right: 30px;
  @include phone{
    width: 100%;
    margin-right: 0px;
  }
}

  #web{
    .link{
      width: 150px;
      @include phone{
      width: 100%;
      }

    }
    .proj{
      width: 600px;
      @include phone{
        display: none;
      }
    }
  }

  #qualifications{
    .inst{
      width: 150px;
      @include phone{
        display: none;
      }
    }
    .year{
      width: 70px;
      @include phone{
      width: 50%;
      }
    }
    .qual{
      width: 530px;
      @include phone{
      width: 50%;
      }
    }

  }

  #experience{
    .comp{
      width: 150px;
      @include phone{
      width: 50%;
      }
    }
    .job{
      width: 150px;
      @include phone{
      width: 50%;
      }
    }
    .work{
      width: 600px;
      @include phone{
        display: none;
      }
    }
  }


  @media(max-width: 766px){

    .proj, .qual, .work{
      display: none;

    }
    

  }

@media(max-width: 321px){
  table{
    width: 250px;
  }
}




}// end of container-about
