
//=======================INDIVIDUAL BLOG PAGE===========================================


//blog individual page ----title header

.individual-page{
  margin-top: 100px;

  .region-content{
    width: 75%;
    float: left;
    @media(max-width: 766px){
      width: 100%;
      float: none;
    }

  }
  aside.layout-sidebar{
    width: 25%;
    float: left;
    @media(max-width: 766px){
      display: none;
    }
  }

  .ds-2col-fluid > .group-right, .ds-2col-fluid > .group-left{
    float: none;
    width: 100%;
  }

  .group-left{
    img, p{
      margin: 15px 15px 15px 0;
    }
  }
  .group-right{
    img, p{
      margin: 15px 0px 15px 15px;
    }
  }
  .group-right, .group-left{
    p{
      font-size: 21px;
    }
  }

}
.layout-content-sec{
  clear: both;
}

.paragraph--type--image-full, .layout--onecol{
  margin: 15px 0px;
}


//blog individual page --- sub title -- topic

.blog-full-title{
  margin: 15px 0;
  @include phone{
    font-size: 24px;
  }
}

//blog individual page --- content
.blog-full-content{

     margin-right: 15px;
    @media(max-width: 768px){
      margin: 0;
    }


  .field--name-field-blog-topics-covered > .field--item{
      display: inline-block;
      margin-top: 25px;
      margin-bottom: 75px;
      @media(max-width: 768px){
        margin: 0;
      }
      a{
        color: $tag-yellow;
        font-size: 27px;
      }

        &::after{
          content: "  |  ";
          color: $tag-yellow;
          font-size: 45px;
        }
        &:last-of-type{
          &::after{
            content: " ";

            font-size: $font-size-text;
          }
        }
      } //field==item

    .field--name-field-blog-date{
        font-size: $font-size-text;
        font-style: italic;
        color: $font-grey;

    }
    .field--name-body{
      font-size: $font-size-subheading;
      font-weight: bold;
      margin: 10px 0 30px 0;

      @media(max-width: 768px){
        font-size: 21px;
      }
    }

  }

  //author information



  .author-info{
    margin-bottom: 55px;
    @media(max-width: 768px){
      margin: 15px 0;
    }
      .field--name-user-picture{
        float: left;
        img{
          -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
          @media(max-width: 768px){
            margin-right: 25px;
          }
        }
      }
      .field--name-field-bio{
        padding-left: 120px;
        padding-top: 15px;
        @media(max-width: 768px){
          padding: 0;
        }
        p{
          font-size: $font-size-text;
          font-style: italic;
          color: $font-grey;
        }
      }
  }

 
//======================= END INDIVIDUAL BLOG PAGE===========================================

//======================= START BLOG PAGE===========================================

.blog, .blogs-taxonomy{
  padding-left: 0;
  margin-top: 100px;
  .topics-wrapper{
    height: inherit;
    @media(max-width:760px){
      margin-bottom: 30px;
    }
  }
  .view-content>div{

    @media(min-width: 760px){
      clear: both;
      height: 250px;
      margin: 0 30px 30px 0;
      position: relative;
    }
  

  }
  .views-field-field-resuable-image{
    @media(min-width: 760px){
      float: left;
      margin-right: 30px;
    }


    @media(min-width:761px) and (max-width:992px){
      width: 50%;
    }
    @media(max-width: 759px){
      img{
        width: 100%;
      }
      margin-bottom: 15px;
    }
   
  }
}