


.layout-container{
  @extend %center-layout;
  @extend %center;
}


.layout-content-top{

  border-bottom: 2px solid $colour-borderline;
  box-shadow: $colour-border-shadow;

  .introduction{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    @include phone{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    }
  }

    .intro{
      grid-column: 1 / 2;
      @include phone{
        width: 100%;
        grid-column: 1;
        grid-row: 1 / 2;
      }
    }

      .side{
      //  padding: 25px 10px 60px 10px;
      grid-column: 2 / 3;
      justify-self: start;
      @include phone{
        width: 100%;
        grid-column: 1;
        grid-row: 2 / 3;
      }
      }



}



.topics-wrapper{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 25px 45px 90px 20px 20px;
    grid-template-areas:
    "image tag"
    "image title"
    "image text"
    "image text"
    "image author";
    grid-column-gap: 15px;
    margin: 40px 60px;
    min-height: 200px;

}


.region-content-secondary{

      padding-bottom: $padding-block;

      .block-title{
        text-align: center;
      }

      @include phone{
        max-width: 900px;
        margin: 0 auto;
      }

}

  .topics-covered{

    margin-top: 30px;
    margin-bottom: 50px;

      .topics-wrapper{
        width:240px;
        border: 10px solid #fff;
       box-shadow: $colour-shadow;
        margin: 0 auto;
        transition: 0.08s;
        &:hover{
          box-shadow: $colour-shadow-hover;
        }

        }


    }

    //====================blog grid=============================
    //==========================================================


   .grid{

    background: #adad85;
    margin: 0 auto;
   }


    .blog-grid{

      height: 570px;
     // max-width: 360px;
      background: $white;
      margin:  4px 4px;

       @include phone {
        padding: 0;
        width: 32.6%;
        img{
          width: 100%;
        }
       }

      .views-field-title{
        font-size: $font-size-large;
      }
    }
