.region-showcase{
 border-top: 3px solid black;
}


.layout-container{
//  @extend %center-layout;
  @extend %center;
}



//===========RECENT BLOG===================

.view-blogs-recent{
  .col{
    @include tablet{
      margin-bottom: 30px;
    }
  }
}

    @media(max-width:760px){
      .intro .region-content{
       // margin-top: 100px;
        .row > div{
          margin-bottom: 15px;
          padding: 0px 20px; 
        }

      }

    }
  



//=====TAXONOMY SPECIFIC BLOG PAGE=======================
//====================================================






.region-content-secondary{

      padding-bottom: $padding-block;

      @include phone{
        max-width: 900px;
        margin: 0 auto;
      }



  .topics-covered{

    margin-top: 30px;
    margin-bottom: 50px;

      .topics-wrapper{
        width:240px;
        border: 10px solid #fff;
       box-shadow: $colour-shadow;
        margin: 0 auto;
        transition: 0.08s;
        &:hover{
          box-shadow: $colour-shadow-hover;
        }

        }


    }

  }





  
