

.top-header{
  height: 400px;
  margin-bottom: 250px;
  @include phone{
    height: 250px;
  }
}

  .header{
    @extend %clearfix;
    width: 100%;

  .slogan{
    list-style-type: none;
    font-family: 'Over the Rainbow', cursive;
    text-align: center;
    color: black;
  }
 .main-menu{
      margin-top: 10px;
      list-style-type: none;
      text-align: center;

        li{
          padding: 2px 0;
        
        }

    }






  

 


  #block-apprentice-main-menu{
  display: inline-block;
<<<<<<< HEAD
 // float: right;
=======
 
>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a
  width: 100vw;
  background: black;
  position: fixed;
  z-index: 20;
  top: 0;
  }


    .main-menu{


          li{
            display: inline-block;
            width: 150px;
            text-align: center;
          }
          .icon{
            display: none;
          }
    }

.print{
  display: none;
}

//large screen navigation 




@include phone{
  .navbar{

    width: 150px;
    li{
      width: auto;
      a{
        font-size: 22px;
      }
    }

    .main-menu{

                 
                 .icon{
                   float: right;
                   display: block;
                   padding-right: 15px;
                 }
                 &.responsive{

                   .menu-item{
                     float: none;
                     display: block;
                   }
                   .icon a{
                     position: absolute;
                     top: 5px;
                     right: 15px;
                   }

                 }
         }





  }// end of navbar class

  .slogan{
    padding-left: 0px;
    li{

      width: 120px;
      a{
       font-size: 22px;
     }

    }


  }

}// end of mobile view


//topics covered
.block-views-blocktopics-covered-block-1{
  float: left;
  clear: right;
  width: 100vw;
 


}



}//end of header


  .banner{
    width: 100%;
    height: 200px;
    .parallax{
      height: 340px;
    }
  }
<<<<<<< HEAD
  }
=======
  
>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a

  section.block-system-branding-block{
    display: inline-block;
    margin-top: 75px;
      .slogan-name >a{
        color: black;
        font-size: 30px;
      }
<<<<<<< HEAD
=======

    @include phone{
      position: fixed;
      top: 17px;
      left: 2px;
      z-index: 25;
      margin-top: 0;
    
      .slogan-name > a{
        color: white;
        font-size: 14px;
      }
    }
>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a
    }

    #block-apprentice-search{
      display: inline-block;
      float: right;
    }

    

    .topic{
      float: left;
      display: inline;
<<<<<<< HEAD
      p{
=======
      a{
>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a
        text-transform: uppercase;
        margin-right: 8px;
        letter-spacing: 0.16em;
        font-size: 13px;
        font-weight: bold;
<<<<<<< HEAD
        &::before{
          content: " \\ ";
=======
        font-color: black;
        &::before{
          content: " // ";
>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a
        }
      }
   
       }

       
<<<<<<< HEAD
       .topic.first-topic p::before{
        content: "";
       }
=======
       .topic.first-topic a::before{
        content: "";
       }


       //===========NAVIGATION BAR

       @media(min-width:970px){
        button.navbar{
          display: none !important;
        }
       
       }

>>>>>>> aff8a6b9266122e28c07ecfe5603813932c1817a
       