

.top-header{
  height: 400px;
  margin-bottom: 250px;
  @include phone{
    height: 250px;
  }
}
.header-background{
  background: black;
  position: fixed;
  width: 100%;
  z-index: 24;
  overflow-x: hidden;
}

  .navbar-default{
    @extend %clearfix;
    background-color: transparent;
    border: none;
    display: block;

    .navbar{
      margin-bottom: 0;
      border: none;
      .navbar-toggle{
        &:hover{
          background: transparent;
        }
        &:active{
          background: transparent;
        }
      }
    }
  }




  #block-apprentice-main-menu{
    position: relative;
   

    button {
     position: absolute;
     right: 10px;
     top: 5px;
  
      span{
        margin: 5px;
        svg{
          color: white;
        }
      } 
    }
    .menu--main{
      @media(max-width: 766px){
        margin-top: 50px;
        margin-left: 50px;
      }
      
      li{
        display: inline-block;

        @media(max-width: 766px){
          display: block;
          text-align: center;

        }
        a{
          color: white;
          &:hover{
            font-weight: bold;
            color: black;
          }
        }
        &:hover{
          background: transparent;
        }
      }
    }

  }




  .slogan{
    padding-left: 0px;
    li{
      list-style: none;
      width: 220px;
      a{
       font-size: 22px;
     }

    }


  }




//topics covered
.block-views-blocktopics-covered-block-1{
  float: left;
  clear: right;
  width: 100vw;
 


}






    .parallax{
      height: 340px;
    }
  
  

  section.block-system-branding-block{
    display: inline-block;
    margin-top: 75px;
      .slogan-name >a{
        color: black;
        font-size: 30px;
        text-decoration: none;
      }

    @media(max-width:760px){
      position: fixed;
      top: 17px;
      left: 2px;
      z-index: 25;
      margin-top: 0;
    
      .slogan-name > a{
        color: white;
        font-size: 14px;
      }
    }
    }

    #block-apprentice-search{
      //display: inline-block;
      float: right;
    }

    

    .topic{
      float: left;

      display: inline;

      a{
        text-transform: uppercase;
        margin-right: 8px;
        letter-spacing: 0.16em;
        font-size: 14px;
        font-weight: bold;

        font-color: black;

        color: black;
        &::before{
          content: " // ";

        }
      }
   
       }

       
       .topic.first-topic a::before{
        content: "";
       }


       //===========NAVIGATION BAR

       @media(min-width:767px){
        button.navbar{
          display: none !important;
        }
       
       }

       