

.top-header{
  height: 400px;
  @include phone{
    height: 250px;
  }

  .header{
    @extend %clearfix;
    width: 100%;


        .layout-container{


            nav, div.block-apprentice-branding{

            }


    }

 .main-menu, .slogan{

      list-style-type: none;
      text-align: center;

        li{
          padding: 5px 0;
          a{
            color: $black;
          }
        }

    }






  section.block-system-branding-block{
  display: inline-block;
  float: left;
  }

  #block-apprentice-main-menu{
  display: inline-block;
  float: right;
  }


    .main-menu, .slogan{
    //  width:: 100%;
   //  display: inline-block;

          li{
            display: inline-block;
            width: 150px;
            text-align: center;
          }
          .icon{
            display: none;
          }
    }

.print{
  display: none;
}

@include phone{
  .navbar{

    width: 150px;
    li{
      width: auto;
      a{
        font-size: 22px;
      }
    }

    .main-menu{

                 .menu-item{
                   &:not(:first-child) {display: none;}
                 }
                 .icon{
                   float: right;
                   display: block;
                   padding-right: 15px;
                 }
                 &.responsive{

                   .menu-item{
                     float: none;
                     display: block;
                   }
                   .icon a{
                     position: absolute;
                     top: 5px;
                     right: 15px;
                   }

                 }
         }





  }// end of navbar class

  .slogan{
    padding-left: 0px;
    li{

      width: 120px;
      a{
       font-size: 22px;
     }

    }


  }

}// end of mobile view




}//end of header


  .banner{
    width: 100%;
    height: 200px;
  }
  }
