
 .main-menu, .slogan{


        li{

          a{
            font-size: 26px;
            &:hover{
              text-decoration: none;
              font-weight: bold;
            }
          }
        }

    }
