.intro{
  .region-content{
    img{

      height: auto;
      padding: 5px;
      @include phone{
        padding: 0 14px 0 0;
        border: none;
        float: left;
      }
    }
  }
}


.view-topics-block{

  .topics-grid{
    position: relative;
    margin-bottom: 12px;
    .views-field-name{
      position: absolute;
      top: 65%;
      left: 20px;
      padding: 7px;
      background: black;
      z-index: 10;
      span a{
        font-size: 14px;
        color:white;
        text-transform: uppercase;
        letter-spacing: 0.12em;
      }
    }
  }

  img{
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: greyscale(80%);
    -webkit-transition: filter 0.7s;
    transition: filter 1s;
    &:hover{
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: greyscale(0%);
    }
  }

  
}

.blog-article{


  .views-field-field-resuable-image{
    img{
      filter: brightness(50%);
    }

      @include phone{
        width: 120px;
        height: 120px;
        float: left;
      }
  }
}
