.intro{
  .region-content{
    img{
      width: 100%;
      height: auto;
      border: solid 1px #EFEFEF;
      padding: 5px;
    }
  }
}

.blog-article{


  .views-field-field-resuable-image{
grid-area: image;
width: 220px;
height: 220px;
  }
}
