

.title{
  @extend %center;
  font-family: $stack-pat;
  margin-top: 25px;
 @include phone{
   margin-top: 75px;
 }
}

.block-title{
  text-align: left;
  color: white;
  background: black;
  text-transform: uppercase;
  font-size: $font-size-small;
  padding: 12px 7px;
  letter-spacing: 0.12em;

  &::before{
    content: "//";
    padding: 7px;
  }

}


.intro{
  .views-field-title{

    a{
      color: black;
      font-family: $stack-lora;
      font-size: 24px;
      line-height: 1.2;
      font-weight: bold;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .views-field-field-blog-topics-covered{
    a{
      color: $tag-yellow;
      font-weight: bold;
      font-size:15px;
      text-transform: uppercase;
    }
  }
  .views-field-uid{
    font-size: 15px;
    a{
      font-weight: bold;
      text-transform: uppercase;
      color: #0000ff;
    }
  }


font-size: 14px;







    .views-field-name{

              span p{
                  text-align: center;
                  font-size: $font-size-med;

              }
          }

 }



.paragraph-code{

  background-color: $colour-tutorial;
  font-family: $stack-monospace;
  color:  $font-code;
  font-size: 18px;
  width: 75%;
  margin: 15px auto;
  padding: 15px;
}


//====================BLOG PAGE====================================================//
//=================================================================================//
.blog, .blogs-taxonomy{



         .views-field.views-field-field-blog-topics-covered, .views-field-field-blog-date{
                font-weight: bold;

                }

                .views-field.views-field-field-blog-topics-covered{
                  grid-area: tag;


                  div ul{
                    list-style: none;
                    li{
                      display: inline-block;
                      margin-right: 8px;
                    }
                  }


                  a{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $tag-yellow;
                  }
                }
                .views-field-field-blog-date{
                  grid-area: author;
                  width: 100px;
                  margin-left: 100px;
                  align-self: top;
                  position: relative;
                  @include phone{
                    margin-left: 12px;
                    width: inherit;
                  }
                  span{
                    position: absolute;
                    top: 12px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #898989;
                    @include phone{
                      display: inherit;
                      width: 100%;
                    }
                  }

                }
                .views-field-uid{

                  grid-area: author;
                  float: left;
                  width: 100px;
                  padding-left: 40px;
                  position: relative;
                  span{
                    position: absolute;
                    bottom: 0px;
                  }
                  span.field-content{
                    right: 10px;
                  }
                  span a{
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                  @include phone{
                    display: none;
                  }
                }


           .blog-title, .views-field-title{

                margin-top: 5px;
                grid-area: title;
                span a{
                  font-size: 27px;
                  font-weight: 700;
                  font-family: 'Patua One', cursive;
                  color: #000;
                  @include phone{
                    font-size: 19px;
                    line-height: 1.1;
                  }

                }
                }
           .blog-body, .views-field-body{

           font-size: 17px;
           grid-area: text;
           color: #898989;
           @include phone{
             display: none;

           }
                }
//title==>
        .topics-covered{
          .field-content{
            p{
              font-size: 18px;
              text-align: center;
            }
            @include phone{
              display: none;
            }
          }
        }
//user picture==>
        .views-field-user-picture{
            grid-area: author;
            img{
              -webkit-clip-path: circle(50% at 50% 50%);
              clip-path: circle(50% at 50% 50%);
            }
            @include phone{
              display: none;
            }
        }

}


    // ================= RECENT BLOG BLOCK ==========================

   .recent-blog{

    .views-field-field-blog-date, .views-field-title{
    //    font-size: $font-size-small;
        font-weight: bold;


       }


       .views-field-body{
        font-size: $font-size-vsmall;
       }

      h2{
        font-size: $font-size-subtitle;
        text-align: center;
      }



    .views-field-field-blog-date{
      // &::after{
      //   content: " | ";
      //   font-size: 30px;
      // }
    }


      @include phone{
        .views-field-title, .views-field-body{
          color: $black;
        }
         .views-field-field-blog-date{
          color: $black;
            &::after{
        color: $black;
      }
         }

      }

      }

      .blog-grid{
        .views-field-title a{
          color: $black;
          font-weight: bold;
        }

        .views-field-field-blog-date{
          color: $font-colour-date;
          font-size: $font-size-med;
        }
      }

      //==========================Blog individual full page layout===============
      .paragraph-blog-sub-title{
        font-weight: bold;
        font-size: $font-size-med;
        margin-top: 43px;
        &::after{
          content: " ==>";
        }
      }

  //==========================Blog individual paragraph layout===============
.blog-full-content{
  .field-paragraph-paragraph{
    p, li{
      font-size: $font-size-text
    }

    span{
      font-weight: bold;
      background-color: #D3D3D3;
      display: inline-block;
      padding: 1px 3px;
      border-radius: 3px;
      color: red;
    }
  }

}

//==========================Taxonomy Feed Page   ===============

.blogs-taxonomy{
  margin-top: 80px;
  h2{
    font-size: 40px;
  }
  time{
    font-size: 20px;
    font-weight: bold;
  }
  .field--name-body{
    p{
      font-size: 24px;
    }
  }
  .field--name-node-link{
    a{
      font-size: $font-size-small;
    }
  }

}
