

.title{
  font-family: $stack-lora;
  margin-top: 25px;
  font-size: 40px;
  text-transform: capitalize;
  text-align: left;
 @include phone{
   margin-top: 75px;
 }
}

.block-title{
  text-align: left;
  color: white;
  background: black;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 7px;
  letter-spacing: 0.12em;

  &::before{
    content: "//";
    padding: 7px;
  }

}

//==================== RELATED BLOGS ==================
aside.layout-sidebar{
  .views-field-title, .views-field-body{
    margin-top: 12px;
    a{
      color: black;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .views-field-title a{
    font-size: 24px;
  }

  .views-field-body a{
    font-size: 14px;
  }

}


.intro{
  .views-field-title{

    a{
      color: black;
      font-family: $stack-lora;
      font-size: 24px;
      line-height: 1.2;
      font-weight: bold;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .views-field-field-blog-topics-covered{
    a{
      color: $tag-yellow;
      font-weight: bold;
      font-size:15px;
      text-transform: uppercase;
    }
  }
  .views-field-uid{
    font-size: 15px;
    a{
      font-weight: bold;
      text-transform: uppercase;
      color: #0000ff;
    }
  }


font-size: 14px;







    .views-field-name{

              span p{
                  text-align: center;
                  font-size: $font-size-med;

              }
          }

 }



.paragraph-code{

  background-color: $colour-tutorial;
  font-family: $stack-monospace;
  color:  $font-code;
  font-size: 18px;
  width: 75%;
  margin: 15px auto;
  padding: 15px;
}


//====================BLOG PAGE====================================================//
//=================================================================================//
.blog, .blogs-taxonomy{
        h1{
          text-align: left;
          font-size: 40px;
          margin-top: 20px;
          margin-bottom: 20px;
        }


         .field--name-field-blog-topics-covered{
                font-weight: bold;

                }

               

                .field--name-field-blog-topics-covered{
               
                    .field--item{
                      display: inline-block;
                      margin-right: 8px;
                    }
                  


                  a{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: black;
                    padding: 3px;
                    background: #F0F0F0;
                  }
                }

                .views-field-field-blog-date{
                  @media(min-width:760px){
                    position: absolute;
                    bottom: 0;
                    right: 0px;
                    width: 130px;
                  }
                 
                  span{
                    font-size: 15px;
                  }                  

                }
                // .views-field-uid{
                //   @media(min-width: 760px){
                //   position: absolute;
                //   left: 5%;;
                //   bottom: 0px;
                //   }
                //   @media(min-width:321px) and (max-width:992px){
                //     display:none;
                //   }
                  
                //  span{
                //    font-size: 15px;
                //    a{
                //      font-size: 15px;
                //      color: black;
                //      text-transform: capitalize;
                //      &:hover{
                //        text-decoration: none;
                //      }
                //    }
                //  }
                 

                //   @include phone{
                //     display: none;
                //   }
                // }


           .blog-title, h2{

                margin-top: 5px;
                span a{
                  font-size: 27px;
                  color: #000;
                  @include phone{
                    font-size: 19px;
                    line-height: 1.1;
                  }

                }
                }
           .blog-body, .field--name-body{

           font-size: 17px;
           color: #898989;
           @include phone{
             display: none;

           }
                }
//content==>
        .topics-covered{
          .field-content{
            p{
              font-size: 18px;
              text-align: center;
            }
            @include phone{
              display: none;
            }
          }
        }
//user picture==>
        .views-field-user-picture{
          @media(min-width: 760px){
            position: absolute;
            left: 0px;
            bottom: 0px;
          }
          @media(min-width:321px) and (max-width:992px){
            display:none;
          }            

            img{
              -webkit-clip-path: circle(50% at 50% 50%);
              clip-path: circle(50% at 50% 50%);
            }
            @include phone{
              display: none;
            }
        }

}// end of blog page


    // ================= RECENT BLOG BLOCK ==========================

   .recent-blog{

    .views-field-field-blog-date, .views-field-title{
    //    font-size: $font-size-small;
        font-weight: bold;
        a{
          color: #333333;
          text-decoration: none;
        }
       }


       .views-field-body{
        font-size: $font-size-vsmall;
        a{
          color: black;
          text-decoration: none;
        }
       }




  


      @include phone{
        .views-field-title, .views-field-body{
          color: $black;
        }
         .views-field-field-blog-date{
          color: $black;
            &::after{
        color: $black;
      }
         }

      }

      }

      .blog-grid{
        .views-field-title a{
          color: $black;
          font-weight: bold;
        }

        .views-field-field-blog-date{
          color: $font-colour-date;
          font-size: $font-size-med;
        }
      }

      //==========================Blog individual full page layout===============
      .paragraph-blog-sub-title{
        font-weight: bold;
        margin-top: 20px;
       
      }

  //==========================Blog individual paragraph layout===============
.blog-full-content{
  .field-paragraph-paragraph{
    p, li{
      font-size: $font-size-text
    }

    span{
      font-weight: bold;
      background-color: #D3D3D3;
      display: inline-block;
      padding: 1px 3px;
      border-radius: 3px;
      color: red;
    }
  }

}

//==========================Taxonomy Feed Page   ===============

.blogs-taxonomy{
  margin-top: 80px;
  h2{
    font-size: 40px;
  }
  time{
    font-size: 20px;
    font-weight: bold;
  }
  .field--name-body{
    p{
      font-size: 24px;
    }
  }
  .field--name-node-link{
    a{
      font-size: $font-size-small;
    }
  }

}
