

.title{
  @extend %center;
  width: 400px;
  h1{
    text-align: center;
  }
}



.intro{
      font-size: $font-size-showcase;



    .block-title{
      text-align: center;
  //   color: $white;
      font-size: $font-size-showcase;
   //   margin-bottom: $padding-block;
    }



    .views-field-name{

              span p{
                  text-align: center;
                  font-size: $font-size-med;

              }
          }

 }



.paragraph-code{

  background-color: $colour-tutorial;
  font-family: $stack-monospace;
  color:  $font-code;
  font-size: $font-size-med;
  width: 75%;
  margin: 15px auto;
  padding: 15px;
}



 .views-field.views-field-field-blog-topics-covered, .views-field-field-blog-date{
        font-weight: bold;

        }

        .views-field.views-field-field-blog-topics-covered{
          grid-area: tag;
          div ul{
            list-style: none;
            li{
              display: inline-block;
              margin-right: 8px;
            }
          }


          a{
            font-size: 14px;
            text-transform: uppercase;
            color: #F9CE3F;
          }
        }
        .views-field-field-blog-date{
          grid-area: author;
          width: 100px;
          margin-left: 100px;
          align-self: top;
          position: relative;
          span{
            position: absolute;
            top: 2px;
            font-size: 12px;
            text-transform: uppercase;
            color: #898989;
          }

        }
        .views-field-uid{
    //      padding-top: 12px;
          grid-area: author;
          float: left;
          width: 100px;
        //  margin-top: 40px;
          padding-left: 40px;
          background-image:url('../src/img/natalie.jpg');
          background-size: 30px;
          background-position: left;
          background-repeat: no-repeat;
          span a{
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }


   .blog-title{

        margin-top: 5px;
        grid-area: title;
        span a{
          font-size: 27px;
          font-weight: 700;
          font-family: 'Patua One', cursive;
          color: #000;

        }
        }
   .blog-body{

   font-size: 17px;
   grid-area: text;
   color: #898989;
        }

.topics-covered{
  .field-content{
    p{
      font-size: 18px;
      text-align: center;
    }
  }
}


    // ================= RECENT BLOG BLOCK ==========================

   .recent-blog{

    .views-field-field-blog-date, .views-field-title{
        font-size: $font-size-small;
        font-weight: bold;


       }

       .field-content{
         a{
           color: $font-colour-prim;
           font-size: $font-size-vsmall;
           &:hover{
             text-decoration: none;
           }
         }
       }

       .views-field-body{
        font-size: $font-size-small;
       }

      h2{
        font-size: $font-size-showcase;
        text-align: center;
      }



    .views-field-field-blog-date{
      &::after{
        content: " | ";
        font-size: 30px;
      }
    }


      @include phone{
        .views-field-title, .views-field-body{
          color: $black;
        }
         .views-field-field-blog-date{
          color: $black;
            &::after{
        color: $black;
      }
         }

      }

      }

      .blog-grid{
        .views-field-title a{
          color: $black;
          font-weight: bold;
        }

        .views-field-field-blog-date{
          color: $font-colour-date;
          font-size: $font-size-med;
        }
      }

      //==========================Blog individual full page layout===============
      .paragraph-blog-sub-title{
        font-weight: bold;
        font-size: $font-size-med;
        &::after{
          content: " ==>";
        }
      }

  //==========================Blog individual paragraph layout===============
.blog-full-content{
  .field-paragraph-paragraph{

    p{
      font-size: $font-size-small;
    }
    span{
      font-weight: bold;
      background-color: #D3D3D3;
      display: inline-block;
      padding: 1px 3px;
      border-radius: 3px;
      color: red;
    }
  }
  .field--name-body{
    p{
      font-size: $font-size-small;
    }
  }
}

//==========================Taxonomy Feed Page   ===============

.blogs-taxonomy{
  margin-top: 80px;
  h2{
    font-size: 40px;
  }
  time{
    font-size: 20px;
    font-weight: bold;
  }
  .field--name-body{
    p{
      font-size: 24px;
    }
  }
  .field--name-node-link{
    a{
      font-size: $font-size-small;
    }
  }

}
