

body{
  margin: 0;
  padding: 0;
  //padding-top: 79px;
  background-color: $cream;
  font-family: $stack-lora;
  overflow-x: hidden;
 @include phone{
   border: none;
   padding-top: none;
 }
}

.container{
  box-sizing: border-box;
  @media(min-width: 1600px){
    max-width: 1470px;
  }
  @include tablet{
    max-width: 890px;
  }
}
main{
  overflow-x: hidden;
}

li.print{
  display: none;
}
