

body{
  margin: 0;
  padding: 0;
  //padding-top: 79px;
  background-color: $cream;
  font-family: $stack-lora;
  overflow-x: hidden;
 @include phone{
   border: none;
   padding-top: none;
 }
}

.container{
  @include desktop{
    width: 1000px;
  }
}

li.print{
  display: none;
}
